## Lists

**Lists are ordered sequences that can hold a variety of object types**

**They use brackets and commas as object separators**

In [1]:
mylist = [1,2,3]

In [2]:
mylist

[1, 2, 3]

In [12]:
mylist_mixed = ['String',123,10.24,True,55,66,34]

In [13]:
mylist_mixed

['String', 123, 10.24, True, 55, 66, 34]

**NOTE: Lists in python are very flexible and can hold multiple datatypes in one list**

In [14]:
#Length of list
len(mylist_mixed)

7

### Indexing and Slicing in lists

#### Indexing

In [20]:
#Slicing and Indexing in strings works similar
mylist_mixed[2]

10.24

#### Slicing

In [21]:
mylist_mixed[1:6:2]

[123, True, 66]

#### Concatenation

In [36]:
list1 = ['one','two']
list2 = ['three']
list1+list2

['one', 'two', 'three']

**NOTE: The main difference between lists and strings is that lists are mutable**

In [37]:
list3 = list1+list2

In [38]:
list3

['one', 'two', 'three']

In [39]:
list3[1] = 'NEW TWO'

In [40]:
list3

['one', 'NEW TWO', 'three']

#### Append values to a list

In [41]:
#
list3.append('four')

In [42]:
list3

['one', 'NEW TWO', 'three', 'four']

#### Pop values from list

In [43]:
#This returns the value that was popped from the list
#remove item from end of list
list3.pop()

'four'

In [44]:
list3

['one', 'NEW TWO', 'three']

In [45]:
#remove item from a specific index
list3.pop(2)

'three'

In [55]:
list3

['one', 'NEW TWO']

#### Sort items in list

In [56]:
list_of_strings = ['h','b','f','C','D','a']
list_of_nums = [6,2,4,8,0,2,4,6]

In [57]:
list_of_nums.sort()
#This method is called an inplace method because it does not return a value
#For eg: if we assign the it to a variable
new_sorted_list = list_of_nums.sort()

In [58]:
#if we check the type of the 'new_sorted_list' variable, it returns the NoneType
type(new_sorted_list)

NoneType

In [59]:
list_of_nums

[0, 2, 2, 4, 4, 6, 6, 8]

**Reverse items in list**

In [60]:
list_of_nums.reverse()

In [61]:
list_of_nums

[8, 6, 6, 4, 4, 2, 2, 0]